{{define "body"}}
<p class="mb-4">Upload a file.</p>
<form method="POST" enctype="multipart/form-data">
  <div>
    <input class="file-input file-input-bordered w-full max-w-md mb-4" id="uploadedFile" name="uploadedFile" type="file" />
  </div>

  <button class="btn btn-primary" type="submit">Upload</button>
</form>
{{end}}
