{{define "body"}}
<p>Upload a file:</p>
<form method="POST" enctype="multipart/form-data">
  <input id="uploadedFile" name="uploadedFile" type="file">
  <button type="submit">Upload</button>
</form>
{{end}}
