{{define "body"}}
  <p class="mb-4">What do you want to upload?</p>
  <div class="grid grid-flow-col gap-4 mb-4">
    <a class="btn btn-primary" href="/text">Plain text</a>
    <a class="btn btn-secondary" href="/files">File</a>
  </div>
  <div>
    <h2 class="text-3xl text-bold mb-4">Latest Uploads</h2>
    <div class="grid grid-cols-3 gap-4 max-w-4xl">
      {{range .LatestUploads}}
        {{if eq .Type "image"}}
          <a href="{{.FileHref}}">
            <div class="card bg-base-100 shadow-xl w-44 h-60 hover:brightness-90">
              <figure>
                <img alt="{{.Title}}" src="{{.RawFileHref}}">
              </figure>
              <div class="card-body">
                <h2 class="card-title">{{.Title}}</h2>
              </div>
            </div>
          </a>
        {{end}}
      {{end}}
    </div>
  </div>
{{end}}
