{{define "body"}}
<p class="mb-4">Upload plain text.</p>
<form method="POST">
  <div class="grid grid-flow-1 mb-4">
    <textarea class="textarea textarea-bordered" id="input" name="input" rows="10" required></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Upload</button>
</form>
{{end}}
