{{define "body"}}
<h1>Hermes</h1>
<p>Upload plain text:</p>
<form method="POST">
  <textarea cols="30" id="input" name="input" rows="10" required></textarea>
  <button type="submit">Upload</button>
</form>
{{end}}
