{{define "body"}}
  <h1 class="text-3xl text-bold mb-4">{{.File.Title}}</h1>
  <div class="mb-4">
    {{if eq .File.Type "image"}}
      <img src="{{.File.RawFileHref}}" alt="{{.File.Title}}" />
    {{else if eq .File.Type "video"}}
      <video controls>
        <source src="{{.File.RawFileHref}}" type="{{.File.MIMEType}}" />
      </video>
    {{else}}
      <p>No preview available for this file type.</p>
    {{end}}
  </div>

  <p class="mb-4">Uploaded by {{.File.Uploader}} on {{.File.Created}}</p>

  <div class="w-full">
    <div class="label">
      <span class="label-text">Link to raw file:</span>
    </div>
    <input class="input input-bordered w-full" type="url" value="{{.HermesHref}}{{.File.RawFileHref}}" readonly />
  </div>
{{end}}
